@import "global.css";

/* Image by Pixabay*/
.App {
    background-color: var(--darker-background-color);
    min-height: 100vh;
    min-width: var(--min-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    font-family: sans-serif;
    /*background-image: url("../images/space.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.HorLine {
    background-color: var(--menu-text-color);
    height: 2px;
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 0px;
    max-width: 800px;
    z-index: 2;
}

.TitleText {
    color: var(--menu-text-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--darker-background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--menu-text-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--menu-text-color);
}
