@import "global.css";

.ContactPage {
    background-color: transparent;
    margin-top: 0px;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slide-up 1.2s;
}

.Swing {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: swing ease-in-out 1.2s infinite alternate;
    transform-origin: center -20px;
}

.Triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--menu-text-color);
}

.HorLineContact {
    background-color: var(--menu-text-color);
    height: 2px;
    width: 50vw;
    max-width: 800px;
    margin-bottom: 0px;
    z-index: 2;
}

.Lanyard {
    background-color: var(--menu-text-color);
    border-left: 1px solid var(--contact-dark-accent);
    border-right: 1px solid var(--contact-dark-accent);
    border-bottom: 1px solid var(--contact-dark-accent);
    border-radius: 0 0 3px 3px;
    width: 30px;
    height: 185px;
    margin-bottom: -27px;
    background-image: var(--ribbon-texture);
    margin-top: -5px;
    z-index: 2;
}

.LanyardTop {
    background-color: var(--menu-text-color);
    border-left: 1px solid var(--contact-dark-accent);
    border-right: 1px solid var(--contact-dark-accent);
    border-top: 1px solid var(--contact-dark-accent);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    width: 45px;
    height: 11px;
    background-image: var(--ribbon-texture);
    z-index: 1;
    margin-left: 15px;
    margin-bottom: -5px;
    margin-top: -3px;
    padding-top: 3px;
}

.LanyardAngle {
    background-color: var(--menu-text-color);
    border-left: 1px solid var(--contact-dark-accent);
    border-right: 1px solid var(--contact-dark-accent);
    border-bottom: 1px solid var(--contact-dark-accent);
    border-radius: 0 0 5px 5px;
    width: 30px;
    height: 190px;
    z-index: 0;
    background-image: var(--ribbon-texture);
    margin-bottom: -190px;
    margin-top: -5px;
    transform: rotate(5deg);
    margin-left: 15px;
}

.LanyardHoleContainer {
    background-color: var(--contact-background);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    width: 100%;
    padding-top: 30px;
    border-radius: 2px;
    background-image: repeating-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25) 1px,
        transparent 1px,
        transparent 6px
    );
}

.LanyardHoleMiddle {
    background-color: var(--background-color);
    width: 40px;
    height: 15px;
    border-radius: 30%;
    margin-bottom: 25px;
}

.LanyardHoleSide {
    background-color: var(--background-color);
    width: 50px;
    height: 10px;
    border-radius: 30%;
    margin-bottom: 20px;
}

.Divider {
    width: 95%;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 8px #0b172f, 10px 10px 8px grey;
}

.TopCardColorBlock {
    height: 170px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--contact-dark-accent);
    box-shadow: 5px 5px 8px #0b172f, 10px 10px 8px grey;
    background-image: var(--paper-texture);
}

.CompanyName {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.MiddleCardColorBlock {
    height: 20px;
    width: 100%;
    background-color: var(--contact-light-accent);
    box-shadow: 5px 3px 8px #0b172f, 10px 10px 8px grey;
}

.ContactCard {
    background-image: repeating-linear-gradient(
        -319deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25) 1px,
        transparent 3px,
        transparent 15px
    );
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--contact-background);
    padding-bottom: 20px;
    flex-wrap: nowrap;
    border: 1px solid white;
    border-radius: 5px;
    max-width: 300px;
    min-width: 300px;
    max-height: 700px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 8px #0b172f, 10px 10px 8px black;
}

.ContactInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 3px 3px;
    background-color: white;
    margin-top: -80px;
    background-image: var(--paper-texture);
    box-shadow: 5px 5px 8px #0b172f, 10px 10px 8px grey;
}

.ContactName {
    margin-top: 80px;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    color: var(--contact-light-accent);
    text-align: center;
}

.ContactTitle {
    color: #67acce;
    font-size: 20px;
    font-weight: 500;
    margin-top: -50px;
    text-align: center;
}

.ContactEmail {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: var(--contact-light-text);
    text-align: center;
    flex-grow: 1;
    padding-bottom: 15px;
    margin-top: -30px;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
}

.ContactCopy {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: var(--contact-light-text);
    text-align: center;
    flex-grow: 1;
    margin-top: -30px;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
    display: none;
}

.ContactEmail:hover {
    color: var(--contact-dark-accent);
}

.ContactPhone {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: var(--contact-light-text);
    text-align: center;
    flex-grow: 1;
    margin-top: 0px;
}

.Selfie {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 100%;
    margin-top: -75px;
    z-index: 2;
}
