body {
    --darker-background-color: #081227;
    --background-color: #0e1e40;
    --lighter-background-color: #334772;
    --menu-text-color: #8fbcbb;
    --accent-color: #ebcb8b;
    --text-highlight-color: #ffffff;
    --min-width: 330px;
    --contact-dark-accent: #17324f;
    --contact-light-accent: #1b5d8f;
    --contact-light-text: #67acce;
    --contact-background: #d1e4eb;
    --ribbon-texture: url("../images/ribbon.png");
    --paper-texture: url("../images/paper.jpg");
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes jump {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes swing {
    0% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

@keyframes slide-down-repeat {
    0% {
        transform: translateY(0%);
        opacity: 0.1;
    }
    80% {
        transform: translateY(30%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 0.1;
    }
}
