@import "global.css";

.ProjectPage {
    animation: slide-left 1.5s;
}

.ProjectContainer {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    margin-top: 8vh;
    margin-bottom: 20px;
}

.ProjectItem {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.8;
}

.ProjectItem:hover {
    transition: 1.7s;
}

.ProjectItem:not(:hover) {
    transition: 1s;
}

.ProjectTitle {
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    color: var(--text-highlight-color);
}

.ProjectDescription {
    animation: slide-down 1.2s;
    font-size: 15px;
    color: var(--text-highlight-color);
    padding-left: 10px;
    display: none;
}

.ProjectImageContainer {
    flex-grow: 1;
}

.ProjectImage {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ProjectTitleText {
    margin-top: 0px;
    margin-bottom: 10px;
}

.ProjectPageHeader {
    display: flex;
    flex-direction: column;
    color: var(--menu-text-color);
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.TitleBar {
    background-color: var(--menu-text-color);
    height: 2px;
    width: 10vw;
}
